NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_WHATSAPP_PHONE=923176802585
NEXT_PUBLIC_FOODPANDA_URL=https://www.foodpanda.pk/
NEXT_PUBLIC_GOOGLE_BUSINESS_URL=https://www.google.com/search?q=Zaiqa+Junction
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_URL=https://www.google.com/maps?q=Zaiqa%20Junction&output=embed
